ORGID = '' # ID организации
ADMIN_TOKEN = '' # токен OAuth приложения с нужными правами

CLIENT_ID = '' # id сервисного приложения
CLIENT_SECRET = '' # secret сервисного приложения

DOMAIN_ID = '' # ID домена из конфига утилиты YandexADSCIM
SCIM_TOKEN = '' # Токен из конфига утилиты YandexADSCIM
